/* ================ */
/* Basic */
/* ================ */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    border: 1px solid #707070;
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
}
html{
    font-size: 62.5%;
	scroll-behavior:smooth;
}
button:focus,input:focus{
    outline: none;
}
a:hover{
    text-decoration: none;
}
/* ================ */
/* Header */
/* ================ */
header{
    border-bottom: 1px solid #707070;
}
.navbar-brand img{
    width: 20rem;
    margin-top: 1rem;
}
.nav-link{
    font-size: 1.5rem;
    margin: 0 1rem !important;
    color: #707070;
}
.active .nav-link{
    margin-left: 5rem !important;
}
.navbar-right-side {
    margin-left: 4rem;
}
.navbar-right-side img{
    width: 2rem;
    margin: auto;
    cursor: pointer;
}
.navbar-right-side p{
    color: #000000;
    font-size: 1.6rem;
    cursor: pointer;
    margin-top: .5rem;
}
.navbar-right-side p i{
    color: #444444;
}

/* ================ */
/* Account Setting */
/* ================ */
#acc-setting-section{
    background-color: #F1F1F1;
}
#acc-setting-section .container{
    padding: 0 1.5rem;
}
#acc-setting-section .container .acc-setting-content{
    background-color: #ffffff;
    padding: 3rem 10rem 5rem 15rem;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
}
#acc-setting-section h2{
    font-size: 3.5rem;
    color: #404040;
    margin: 0;
    padding-top: 4rem;
    font-weight: 400;
}
.input-box{
    margin-top: 3rem;
    position: relative;
}
.input-box label{
    color: #747474;
    font-size: 1.8rem;
    display: block;
    cursor: text;
}
.input-box input,select{
    width: 70%;
    margin-right: 5rem;
    padding: .7rem 2rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    border: none;
    border: 1px solid #747474;
    font-size: 1.5rem;
    margin-top: .5rem;
    font-weight: 400 !important;
}
select{
    color: #747474 !important;
}
select {
  /* for Firefox */
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
}
/* For IE10 */
select::-ms-expand {
  display: none;
}
.input-box img{
    max-width: 4.5rem;
    cursor: pointer;
}
.input-box i{
    position: absolute;
    top: 75%;
    left: 67.5%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    font-size: 1.8rem;
    color: #444444;
}
.input-box i.fa-eye{
    left: 67%;
    cursor: pointer;
}
.row .col-8 p{
    color: #747474;
    font-size: 1.7rem;
}
.row .col-8 p span{
    display: inline-block;
    border-bottom: 1px solid #747474;
    font-weight: 600;
}
.btn-save{
    background-color: #3691ED !important;
    border: none;
    color: #fff;
    padding: .7rem 4rem;
    font-size: 1.8rem;
    border-radius: 1.2rem;
    -webkit-border-radius: 1.2rem;
    -moz-border-radius: 1.2rem;
    -ms-border-radius: 1.2rem;
    -o-border-radius: 1.2rem;
    border: 1px solid #707070;
    letter-spacing: 1.3px;
    font-weight: 500;
}
.btn-save:hover{
    border: 1px solid #707070;
    background-color:  transparent !important;
    color: #707070;
}


/* ================ */
/* Responsive*/
/* ================ */
@media screen and (min-width:1900px){
    #acc-setting-section .container .acc-setting-content{
        padding: 11rem 10rem 15rem 15rem;
    }
}
@media screen and (min-width:992px) and (max-width:1199px){
    .input-box{
        margin-top: 2rem;
    }
}
@media screen and (max-width:991px){
    #acc-setting-section .container{
        padding: 0 1rem;
    }
    #acc-setting-section .container .acc-setting-content{
        padding: 3rem 2rem 5rem 5rem;
    }
    .active .nav-link{
        margin-left: 1rem !important;
    }
    .navbar-right-side {
        margin-left: 1rem;
        margin-right: 4rem;
    }
}

@media screen and (max-width:575px){
    #acc-setting-section .container{
        padding: 0 .5rem;
    }
    #acc-setting-section .container .acc-setting-content{
        padding: 3rem 1rem 5rem 1rem;
    }
    .input-box i{
        left: 75%;
    }
    .input-box i.fa-eye{
        left: 75%;
    }
    .input-box input,select{
        width: 80%;
        margin-right: 0rem;
    }
}
